
@font-face {
    font-family: 'MiFuente';
    src: url("Font/MiFuente.ttf") format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MiFuente2';
    src: url("Font/MiFuente2.ttf") format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

/*AQUI EMPIEZA EL NAVEGADOR*/
header {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 8px 40px;
    background: #d5d3d3;
}

.logo img {
    width: 180px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
    margin-left: 50px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.profile-box {
    background: #b3b3b3;
    padding: 20px 90px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 0%;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 8px;
    height: 30px;
}

.profile-box a {
    text-decoration: none;
    color: black;
}

.profile-box i {
    font-size: 18px;
}

/*AQUI TERMINA EL NAVEGADOR*/

body {
    font-family:"Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    display: block;
    overflow-x: hidden; /* Evita desplazamiento horizontal */
}

/*AQUI EMPIEZA PRODUCTO*/

.product {
    display: flex;
    align-items: flex-start; /* Alinea la imagen y el texto en la parte superior */
    justify-content: flex-start;
    gap: 80px;
    margin-top: 50px;
    padding: 40px;
}

.product-image img {
    width: 600px;
    height: 650px;
    border-radius:none;
    left: 0;
    align-self: flex-start;
}

.product-info {
    max-width: 900px;
    margin-top: -20px;
}

.product-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.model-info {
    margin-bottom: 20px;
}

/*ESTE ES EL BOTON DE RETURN*/
.contact-btn1 {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background: #555555;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    font-family:"Poppins", sans-serif;
    width: 750px;
}

.contact-btn1:hover {
    background: #000;
    color: #fff;
}

/* ESTAS SON LAS TALLAS*/
.size-options {
    display: flex; /* Alinea los botones en una fila */
    gap: 5px; 
    margin-top: 10px; /* Ajusta el margen superior si es necesario */
}

.size-options button {
    padding: 8px 12px;
    border: 1px solid #000;
    background: none;
    cursor: pointer;
    width: 50px; 
    text-align: center;
}

.size-options button:hover {
    background: #000;
    color: #fff;
}


/*ESTE ES EL BOTON DE CONTACT*/
.contact-btn {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background: #b3b3b3;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    font-family:"Poppins", sans-serif;
    width: 750px;
}

.contact-btn:hover {
    background: #000;
    color: #fff;
}

/*CONFIGURACION DE TEXTOS*/

.product-info h3 {
    margin-top: 20px;
}

.description {
    font-size: 16px;
    width: 750px; 
}

.h2 {
    font-size: 16px;
}

.h3 {
    font-size: 10px;
}

/*AQUI EMPIEZA CONTACT US*/

.contact-us {
    text-align: center;
    padding: 0;
    background: url("Image/contactus.png") no-repeat center center/cover;
    color: #fff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-top: 200px;
}

.contact-title {
    font-family: "MiFuente", sans-serif;
    font-size: 70px;
    text-transform: uppercase;
    font-style: italic;
    text-align: left;
    padding: 0px 120px;
    margin-top: -20px;
    color: white;
}
.contact-title2 {
    font-family: "MiFuente2", sans-serif;
    font-size: 70px;
    text-transform: uppercase;
    font-style: italic;
    text-align: left;
    padding: 0px 120px;
    margin-top: -60px;
    color: white;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact-text {
    max-width: 400px;
    text-align: left;
    padding-left: 120px;
}
.contact-infotitle {
    text-align: left;
    max-width: 300px;
    padding-right: 300px;
    font-weight: bold;
    font-size: 20px;
}

.contact-info {
    text-align: left;
    max-width: 300px;
    padding-right: 300px;
}
/*AQUI EMPIEZA EL FOOTER*/

.footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-links {
    margin: 10px 0;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

/*AQUI EMPIEZA LOS ICONOS*/

.social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}

.social-link {
    color: white;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #8b8b8b; /* Color al hacer hover */
}

.social-handle {
    color: white;
    font-size: 18px;
}